<!doctype html>
<head>
  <meta charset="utf-8">
  <title>ADI Doorbell</title>

  <meta name="description" content="">

  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="css/style.css">

</head>
<body>
  <header>
    <a href="http://adicu.com/">ADI</a> Doorbell
  </header>

  <div id="main">
    <% if current.nil? then %>
    <h2>
     Sorry, ADI isn't doing anything in the CS Lounge right now! You
     should check out our future events, though:
    </h2>
    <% elsif current == false then %>
    <h2>
     There's an event going on, but we can't ring anyone inside! While
     you're waiting for someone to randomly open the door, you should
     check out our future events:
    </h2>
    <% else %>
    <button id="ringer"><%= current[:title] %></button>
    <% end %>

    <div id="upcoming-cont">
      <h2 id="upcoming-header">Upcoming Events:</h2>
      <ul id="upcoming">
        <% for event in events do %>
          <li>
            <% if event[:url] %>
            <a href="<%= event[:url] %>">
              <%= event[:title] %>
            </a>
            <% else %>
            <%= event[:title] %>
            <% end %>
            <time><%= print_time event[:begin] %></time>
          </li>
        <% end %>
      </ul>
      <div>
        Want more? Check out <a href="http://adicu.com/">adicu.com</a>
        and <a href="http://eepurl.com/jaugD">sign up for our mailing
        list</a>!
      </div>
    </div>
  </div>

  <script src="/js/jquery-1.7.2.min.js"></script>
  <script src="/js/script.js"></script>

</body>
</html>
